nav > a{
 padding: 5px ;
 text-decoration: none;
 color: darkblue;
}
nav>a.active{
 background-color: #cccc;
}
.header-row{
 width: 100%;
}
 .cart{
 display:flex;
flex-direction: row;
justify-content: space-between;
}