:host{ //ref al tag app-product que es el compomente porducto q se repite
background-color:#243447 ;
color:white;
 max-width: 25rem;
border: 1px solid #cccc;
border-radius: 5px;
margin: 5px;
}

img{
 max-width: 100%;
}