
.product__grid{
 display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap: 50px 20px;
 padding:5%;
 text-align: center;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
@media(min-width:576px){
 .product__grid{
display: grid;
 grid-template-columns: repeat(3,1fr);
 margin: 0px auto;
 }
.container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
html, body { height: 100%; }
body { margin: 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; width:80% }