body{
 max-width:80%;
 margin: auto;
 padding:0px;
 box-sizing: border-box;
}
.product__grid{
 display: grid;
grid-template-columns: repeat(1,1fr);
 padding:5%;
 text-align: center;
}
@media(min-width:576px){
 .product__grid{
display: grid;
 grid-template-columns: repeat(3,1fr);
 margin: 0px auto;

 }

}
